body{ 
font-family: 'Montserrat', sans-serif;
 }

.navbar{
	box-shadow: 2px 2px 5px #000;
	
}

.main-header{
	position: relative;
	background: url(../imagenes/principal.jpg);
	background-size: cover;
	min-height: 600px;
}

.background-overlay{
	position: absolute;
	background: rgba(10, 189, 227,.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.form-control{
	border-radius: 0;
}


.team{
     background: rgba(10, 189, 227,.7);
    
}

